@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Builder</h1>
    <p class="lead">You can build your world here.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Get started &raquo;</a></p>
</div>

