#callout {
  display: none;
}

#callout + table {
  float: right;
  border: 1px solid #000000;
  background-color: #FBFBFB;
  border-radius: 5px;
margin-top:2em;
}


#callout + table td {
  border: none !important;
}

#callout + table th {
  border-bottom: 1px solid #000000;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  background-color: #DEDEDE;
}

#callout + table td:first-child {
  font-weight: bold;
}
#callout + table td:first-child::after {
  content: ":";
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.375em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.125em;
}
h5, h6, h7 {
  font-size: 1em;
}
h1, h2, h3, h4, h5, h6, h7 {
  border-bottom: 1px solid #000000;
}


/*Add status bar to each page*/
body, html {
  height: 100%;
}
body {
  margin: 0px 15px;
}
#page-content {
  min-height:100%;
  margin-bottom:-24px;
}
#statusbar {
  height: 24px;
  overflow:hidden;
  background-color:#DEDEDE;
  border-top: #bdbaba 1px solid;
  margin: 0 -15px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  padding-left: 5px;
}